<ion-header>
  <ion-toolbar>
    <ion-title>
      Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Courses list
    </ion-list-header>

    <ion-item *ngFor="let course of Course">
      <ion-label>
        <h2>{{course.courseName}}</h2>
        <h3>{{course.startDay}}</h3>
        <h3>{{course.courseDuration}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <ion-button clear [routerLink]="['/edit-course/', course.id]">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button clear ng-click="deleteCourse(course, i)">
          <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>


  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-course">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
