<ion-header>
  <ion-toolbar>
    <ion-title>
      Student - Course App
    </ion-title>
    <ion-item lines="none">
      <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-list-header>
      Student List
    </ion-list-header>

    <ion-item *ngFor="let student of Students">
      <ion-label>
        <h2>{{student.firstName}} {{student.lastName}}</h2>
        <h3>{{student.birthday}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <ion-button clear [routerLink]="['/edit-student/', student.id]">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button ion-button clear ng-click="deleteStudent(student, i)">
          <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>


  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-student">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

